.main{
    width: 800px;
    height: 600px;
    background-color: #ddd;
    border: 1px solid black;
    display: flex
}
.title{
    height: 100px;
    border: 1px solid black;
}
.list{
    height: 500px;
    border: 1px solid black;
}