div{
    border: 1px solid black;
    box-sizing: border-box;
}
.test{
    background-color: pink;
    width: 200px;
    height: 200px;
}
.clear{
    background-color: aqua;
    clear: both;
}
/*float: left*/
.float-left{
    background-color: aquamarine;
    width: 50px;
    height: 50px;
    float: left;
}
/*float: right*/
.float-right{
    background-color: aquamarine;
    width: 50px;
    height: 50px;
    float: right;
}
/*
    float 분할 연습
*/
.div-1{background-color: red;}
.div-2{background-color: orange;}
.div-3{background-color: yellow;}
.div-4{background-color: green;}
.div-5{background-color: lightblue;}
.div-6{background-color: navy;}
.div-7{background-color: violet;}
.div-8{background-color: blueviolet;}
/*좌-우 2분할*/
.practice-1{
    border: 1px solid black;
    width: 400px;
    height: 200px;
}
.col-1{
    width: 50%;
    height: 100%;
    float: left;
}
/*좌-우 4분할*/
.practice-2{
    border: 1px solid black;
    width: 400px;
    height: 200px;
}
.row-2{
    height: 50%;
}
.col-2{
    width: 50%;
    height: 100%;
    float: left;
}
/*실습문제*/
.practice-3{
    border: 1px solid black;
    width: 400px;
    height: 400px;
}
.row-3{
    height: 50%;
}
.col-3{
    float: left;
    width: 50%;
    height: 100%;
}