body{
    margin: 0;
}

.wrapper{
    border: 1px solid black;
    background-color: lightblue;
    min-height: 100vh;
}

.header, .footer {
    border: 1px solid black;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

.content {
    
}

.sidebar {
    
}

.menu {

}

.menu>span {
    border: ;
}

.main {

}

/* 카드 스타일
  팽창 정도 1
  수축 정도 1
  크기 30% 
*/
.card {

}