/*public style start*/
img{
    width: 70%;
    height: 50%;
}
body{
    border: 1px solid black;
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    flex-direction: column;
}
/*public style end*/
/*header style start*/
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: blue;
}
#title{
    color: white;
}
#search-bar{
    width: 400px;
    margin: 10px;
}
#search-button{
    background-color: darkgray;
}
/*header style end*/
/*main style start*/
    /*main-1 style start*/
    .main{
        display: flex;
        background-color: #ddd;
        text-align: center;
    }
    .main-1{
        width: 80%;
        display: flex;
        flex-direction: column;      
    }
    .books{
        display: flex;
        flex-wrap: wrap;
        align-content: space-around;
        justify-content: center;
    }
    .books>div{
        border: 2px solid lightgray;
        background-color: white;
        width: 20%;
        height: 200px;
        margin: 10px;
    }
    /*main-1 style end*/
    /*main-2 style start*/
    .main-2{
        width: 20%;
        background-color: white;
        border: 2px solid lightgray;
        margin: 10px;
    }
    /*main-2 style end*/
/*main style end*/
/*footer style start*/
.footer{
    background-color: black;
    color: white;
    text-align: center;
    align-content: center;
}
/*footer style end*/