.flex-container{
    height: 85vh;/*현재 화면의 75%*/
    display: flex;
    flex-wrap: wrap;

    /*
        align-content
        - cross axis방향으로 포장된 item들을 정렬하는 속성
        - 조건으로 반드시 아이템들이 wrap또는 wrap-reverse 상태여야함
        - justify-content의 속성값과 동일한 값들을 사용할 수 있다.
    */
    /*cross axis방향 시작지점으로 포장된 item들을 정렬*/
    align-content: flex-start;
    /*cross axis방향 끝지점으로 포장된 item들을 정렬*/
    align-content: flex-end;
    /*cross axis기준 가운데 정렬*/
    align-content: center;
    /*cross axis기준 각 라인 사이에 동일한 크기의 공간을 항당하여 정렬*/
    align-content: space-around;
    /*cross axis기준 균등한 공간을 항당하여 정렬*/
    align-content: space-evenly;
    align-content: space-between;
}